<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% load user_filters %}
<html lang="ru">
  <head>
    <!-- Подключены иконки, стили и заполенены мета теги -->
    <title>Пост {{ post.text|truncatechars:30 }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>
        </div>
      </nav>      
    </header>
    <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
              </li>
              {% if post.group %}   
              <li class="list-group-item">
                Группа: href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}
                <a href="<!-- -->">
                  все записи группы
              {% endif %}
                </a>
              </li>
            <li class="list-group-item">
              Автор: href="{% url 'posts:profile' post.author %}">{{ post.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.posts.count }}</span>
            </li>
            <li class="list-group-item">
              <a href="<!-- -->">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ post.text|linebreaks }}
          </p>
        </article>
      </div> 
    </main>
    <footer class="border-top text-center py-3">
      <p>© 2023 Copyright <span style="color:red">Ya</span>tube</p>
    </footer>
  </body>
</html>
{% endblock %}